FORMAT: 1A
HOST: https://breeze.com/

# breeze

Breeze is a simple API allowing consumers to view polls and vote in them.

# Authenication

Sign In and Sign Up 

## Sign Up  [/user/sign-up]

### Sign Up a New User [POST]

+ Request (application/json)

        {
            "name": "Aung Myat Moe",
            "email":"aungmyatmoe834@gmail.com",
            "password":"password",
            "password_confirmation":"password",
            "date_of_birth":"18/5/2003",
            "pronoun":"he" // he, she, they
        }

+ Response 201 (application/json)

        {
            "meta": {
                "status": 201,
                "msg": "New user have been created",
            },
            "data":{},
        }
        
## Sign In [/user/sign-in]

### Sign In the Existing User [POST]

+ Request (application/json)

        {
            "email":"aungmyatmoe834@gmail.com",
            "password":"password",
        }

+ Response 201 (application/json)

        {
            "meta": {
                "status": 200,
                "msg": "User login success",
            },
            "data":{},
        }


## Questions Collection [/questions]

### List All Questions [GET]

+ Response 200 (application/json)

        [
            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 2048
                    }, {
                        "choice": "Python",
                        "votes": 1024
                    }, {
                        "choice": "Objective-C",
                        "votes": 512
                    }, {
                        "choice": "Ruby",
                        "votes": 256
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }