FORMAT: 1A
HOST: https://breeze.com/

# breeze

Breeze is a simple API allowing consumers to view polls and vote in them.

# Authenication

Sign In and Sign Up 

## Sign Up  [/user/sign-up]

### Sign Up a New User [POST]

+ Request (application/json)

        {
            "name": "Aung Myat Moe",
            "email":"aungmyatmoe834@gmail.com",
            "password":"password",
            "password_confirmation":"password",
            "date_of_birth":"18/5/2003",
            "pronoun":"he" // he, she, they
        }

+ Response 201 (application/json)

        {
            "meta": {
                "status": 201,
                "msg": "New user have been created"
            },
            "data":{
                "token": "auth token"
            },
        }
        
## Sign In [/user/sign-in]

### Sign In the Existing User [POST]

+ Request (application/json)

        {
            "email":"aungmyatmoe834@gmail.com",
            "password":"password"
        }

+ Response 200 (application/json)

        {
            "meta": {
                "status": 200,
                "msg": "User login success"
            },
            "data":{
                "token":"auth token"
            }
        }
        
        
## Event [/events]

### Create an event [POST]

+ Request (application/json)

        {
            "image":"image.jpg",
            "date":"18/5/2003",
            "time":"4:00",
            "place":"Yangon",
            "price":15000,
            "about":"Dev meetup",
            "orginizers":"Aung Myat Moe", 
            "visibility":"public" // public, public, unlisted
        }
        
          
    + Schema

            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2
                }
              }
            }


+ Response 201

        {
            "meta":{
                "status":201,
            },
            "data":{
                "message": "Event has been created",
            }
        }